.kibou_osumai-page {
  .description-area {
    padding: 10px;
    .message {
      background: #fff;
      border-radius: 4px;
      padding: 10px;
      color: #4A4A4A;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  .kibou-form {
    .additional-note {
      color: #9B9B9B;
      font-size: 10px;
      line-height: 1.3;
    }
  }
}