.kibou_osumai-page {
  .description-area {
    padding: 10px;
    .message {
      background: #fff;
      border-radius: 4px;
      padding: 10px;
      color: #4A4A4A;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  .kibou-form {
    select {
      width: 80px;
    }
    .okyakusama-ni-tuite {
      .table {
        margin: 0 auto;
        margin-bottom: 12px;
        .table-cell {
          &:nth-child(1) {
            text-align: right;
            width: 35%;
          }
          width: 40%;
          label {
            font-weight: 900;
            margin: 0 10px 0 20px;
          }
        }
      }
      .additional-note {
        padding: 0 10px;
      }
    }
    .additional-note {
      color: #9B9B9B;
      font-size: 10px;
      line-height: 1.3;
    }
    .yatin-section {
      .center {
        text-align: center;
      }
      .kara, select {
        display: inline-block;
      }
      .kara {
        margin: 0 10px;
        font-weight: 900;
      }
    }
  }
}