header {
  background: #F47F00;
  height: 52px;
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 15px 0 15px 0;
  h1 {
    font-size: 18px !important;
  }
}
footer {
  border-top: 2px solid #EA0000;
  height: 56px;
  box-sizing: border-box;
  nav {
    ul {
     padding: 0;
     margin: 0;
     li {
       list-style: none;
       padding: 0;
       margin: 0;
       float: left;
       img {
         width: 69px;
       }
     } 
    }
  }
}