@import "mixin";

html, body {
  background: #fff;
  color: #4A4A4A;
  height: 100%;
  padding: 0px;
  height: 0px;
  font-family: "SF Pro JP", "Apple TP", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial";
}
#app {
  @include maxWH();
}
.logo-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 256px;
}
.loading-message {
  font-size: 12px;
  color: #F47F00;
  @include table();
  @include maxWH();
  span {
    @include middleCenterCell();
  }
}
.main {
  @include fixedTop();
  @include maxWH();
}
header {
  @include absoluteTop();
  @include maxW();
  box-sizing: border-box;
  height: $headerHeight;
  padding-top: $statusBarHeight;
  
  background: #F47F00;
  color: white;
  font-weight: 900;
  text-align: center;
  h1 {
    font-size: 18px !important;
    padding: 15px 0 15px 0;
    margin:0px;
  }
  #logo_s {
    img {
      width: 100%;
    }
    width: 62px;
    position: absolute;
    top: 12px + $topPointInHeader;
    left:12px;
  }
  .history-back {
    z-index: 99;
    height: $headerHeight;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 14px + $topPointInHeader;
    padding-left: 14px;
    cursor: pointer;
    img {
      width:15px;
      vertical-align: middle;
    }
    span {
      font-weight: 100;
      vertical-align: middle;
    }
  }
}
#header-under-space {
  height: $headerHeight;
}
.contents {
  box-sizing: border-box;
  height: $contentsHeight;
  background: #FFF1E1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: $footerHeight;
  border-top: 2px solid #EA0000;
  
  box-sizing: border-box;
  nav {
    ul {
      padding: 0;
      margin: 0;
      display:table;
      width: 100%;
      li {
        display:table-cell;
        text-align:center;
        list-style: none;
        padding: 0 2px 0 2px;
        margin: 0;
        border-right: 1px solid #EA0000;
        &:last-child {
          border-right: none;
        }
        img {
          width: 69px;
          vertical-align:middle;
          cursor: pointer;
        }
      } 
    }
  }
}
.nowrap {
  white-space: nowrap;
}
.w100per {
  width: 100%;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.text-right {
  text-align: right;
}
.contents section {
  padding: 13px 10px 16px 10px;
  border-bottom: 2px solid #fff;
}
.contents h2 {
  font-size: 17px;
  color: #F47F00;
  font-weight: 900;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}
select {
  background: #fff;
  border: none;
  padding: 5px;
}
label {
  cursor: pointer;
}
.ui input[type=text], .ui.dropdown {
  box-sizing: border-box;
  height: 48px;
  // border: 1px solid #fff !important;
  font-size: 15px;
  -webkit-appearance: none;
}
textarea {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}
.ui.input, .ui.form {
  label {
    font-weight: 900;
    margin-bottom: 5px;
    
  }
  input[type=text] {
    padding-left: 18px;
    padding-right: 18px;
  }
  input[type=text], textarea {
    border: none;
    border-radius: 4px;
  }
}