@import "../mixin";

.inquiry-page {
  
  header {
    .call-tel {
      position: absolute;
      right: 0;
      top: 0 + $topPointInHeader;
      width: 52px;
      height: 52px;
      cursor: pointer;
      box-sizing: border-box;
      
      padding-top: 15px;
      img {
        width:22px;
      }
    }
  }
  .description {
    background: #fff;
    font-size: 12px;
    padding: 10px;
    line-height: 1.5;
    strong {
      color: #E70B18;
    }
  }
  .room-info {

    font-size: 10px;
    
    overflow: hidden;
    zoom: 1;
    
    .date {
      font-weight: 900;
      color: #F47F00;
      margin-bottom: 6px;
    }
    h3 {
      font-size: 11px;
      margin: 0px;
      margin-bottom: 6px;
    }
    img {
      float: left;
    }
    .info {
      margin-left: 110px;
      .yatin {
        .int {
          font-size: 13px;
          font-weight: 900;
          color: #F47F00;
        }
      }
    }
  }
  .inquiry-form {
    .kibou-renraku-group {
      .table-cell {
        select {
          height: 30px;
          font-size: 16px;
        }
        .ui.checkbox {
          display: inline-block;
          label {
            font-size: 14px;
            margin: 0px;
          }
        }
        text-align: center;
        vertical-align: middle;
        height: 50px;
      }
    }
    .form-group {
      margin-bottom: 12px;
    }
    .table.namae {
      .table-cell {
        width: 50%;
        input {
          width: 100%;
        }
      }
    }
    .fluid {
      input {
        width: 100%;
      }
    }
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 14px;
    }
    label {
      display: block;
      font-size: 12px;
      color: #7F7F7F;
    }
    select {
      display: inline-block;
      width: auto;
    }
  }
  .submit-area {
    background: #fff;
    text-align: center;
    .message {
      line-height: 1.3;
      font-size: 12px;
      margin-bottom: 15px;
    }
    .submit-button {
      cursor: pointer;
    }
  }
}
.modal-bukken-content {
  .bukken-no {
    font-size: 11px;
    text-align: left;
  }
  .bukken-name {
    color: #F47F00;
    font-size: 12px;
    text-align: left;
  }
  .bukken-info {
    font-size: 12px;
    text-align: right;
    margin-bottom: 20px;
  }
}