.contents.search-page {
  padding: 0px 0px 16px 0px;
}

.search-form {
  
  .description {
    color: #7F7F7F;
    font-size: 12px;
    margin-bottom: 3px;
  }
  
  .ui.input.word {
    width: 100%;
  }
  
  .ui.input.station {
    width: 100%;
    
    input {
      padding-left: 52px !important;
      cursor: pointer;
    }
    
    .icon_train {
      position: absolute;
      left:22px;
      top:16px;
      img {
        width: 13px;
      }
    }
  }
  
  select.ui.dropdown {
    background: #fff;
  }
  
  #yatin .table {
    width: 100%;
    .table-cell {
      select {
        width: 100px;
        padding-left: 10px;
        text-align: center;
        text-align: -webkit-center;
        color: #9A9A9A;
      }
      &:nth-child(1) {
        text-align: right;
      }
      &:nth-child(2) {
        padding: 0px 5px;
        font-size: 17px;
        color: #F47F00;
        font-weight: 900;
        text-align: center;
      }
      &:nth-child(3) {
        text-align: left;
      }
    }
  }
  
  .icon_remove {
    position: absolute;
    cursor: pointer;
    height: 52px;
    width: 48px;
    top: 0px;
    right: 0px;

    img {
      width: 16px;
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
  
  .ui.input.kodawari {
    width: 100%;
    
    input {
      padding-left: 52px !important;
      cursor: pointer;
    }
    .icon_list {
      position: absolute;
      left: 18px;
      top: 15px;
      img {
        width: 20px;
      }
    }
  }
  
  
  #submit-btn-area {
    
    position: fixed;
    bottom: 53px;
    left: 0;
    
    width: 100%;
    background: #fff;
    padding: 17px;
    
    text-align: center;
    
    .btn_search {
      cursor: pointer;
      
      img {
        width: 199px;
      }
    }
  }
}