.checkboxes-section {
  .remove-all-checks {
    padding: 5px 0px;
    text-align: right;
    font-size: 12px;
    a {
      color: #7F7F7F;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .checkboxes {
    background: #fff;
    border-radius: 4px;
    padding: 6px 15px 12px 15px;
    line-height: 1.5;
    .checkbox {
      display: inline-block;
      padding: 3px 0px;
      label {
        display: block;
        input {
          vertical-align: text-top;
          display: inline-block;
          margin-right: 12px;
        }
      }
    }
    .ui.checkbox.checked {
      label {
        color: #F47F00;
      }
    }
    .ui.checkbox {
      width: 50%;
      
      label {
        // padding-left: 30px;
        color: #4A4A4A;
      }
    }
  }
}