.hit-count {
  position: absolute;
  z-index: 99;
  top: 33px;
  right: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
  .heading {
    
  }
  .data {
    text-align: center;
    .value {
      font-weight: 900;
    }
  }
}