section.recommend_area-section {
  
  h2 {
    margin-bottom: 0px;
  }
  
  .recommend_area-checkboxes {
    background: transparent;
    padding: 0px;
    
    input[type=checkbox] {
      // position: absolute;
      // top: 10px;
      // left: 10px;
      display: none;
    }
    label.checkbox {
      width: 33%;
      position: relative;
      
      span {
        display: block;
        text-align: center;
        font-size: 12px;
        border: 1px solid #DBDBDB;
        line-height: 1;
        padding: 6px;
        padding-bottom: 4px;
        border-radius: 4px;
        box-sizing: border-box;
        background: #fff;
        margin: 0px 8px 1px 0px;
        
        overflow:hidden;
        user-select: none;
        
      }
      :checked + span {
        border: 1px solid #F47F00;
      }
    }
    label:nth-child(3n+1) {
      span {
        margin-right: 0px;
      }
    }
  }
}