.not-found-search-result {
  padding: 15px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  margin: 20px;
}
.goto-next-page {
  color: #EA0000;
  padding: 20px;
  background: #fff;
  font-size: 13px;
  font-weight: 900;
  text-align: center;
}