.kiyaku-page {
  h2 {
    padding-top: 1em;
    font-size: 12px;
    text-align: left;
  }
  .contents {
    font-size: 11px;
  }
  .honbun-wrapper {
    margin: 10px;
    background: #fff;
    border-radius: 4px;
    padding: 0px 10px 10px 10px;
  }
}