@import "../mixin";

#logo {
  img {
    max-width: 500px;
  }
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-page {
  .contents {
    background: #fff;
    @include maxWH();
  }
}