html, body {
  background: #fff;
  color: #333;
  height: 100%;
}
#app {
  height: 100%;
}
#logo {
  img {
    width: 70%;
    max-width: 500px;
  }
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}